footer{
    background-color: nth($colores, 5);
    text-decoration: none;
    padding: 10px;
    div{
        @include flex (flex, center, center)
        h3{
            @include fuente (20px, 3, $font-family)
            padding: 20px;
        }
        }
    }