footer{
    background-color: nth($colores, 5);
    text-decoration: none;
    color: nth($colores, 3);
    font-size: nth($font-size, 3);
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    div{
        @include flex (flex, center, center)
        h3{
            padding: 20px;
        }
        }
    }