footer{
    background-color: #A05196;
    text-decoration: none;
    color: #D6D6D8;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            padding: 20px;
        }
        a{
            img{

            }
        }
        }
    }