main{
    background-color: nth($colores, 3);
    .novedades{
        @include flex (flex, center, center)
        div{
            div{
                img{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 1130px;
                    height: 639px;
                    box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
                    -webkit-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
                    -moz-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
                    }
                }
        }
    }    
    h2{ 
        @include fuente (20px, #D6D6D8, $font-family)
        text-align: center;
        text-decoration: none;
        background-color: nth($colores, 4);
        padding: 10px;
    }
    .productos{
        @include flex (flex, space-around, center)
        width: 100%;
        div{
            width: 200px;
            height: 330px;
            text-align: center;
            background-color: nth($colores, 2);
            margin: 20px;
            box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            img{
                margin-bottom: 20px;
                width: 200px;
                height: 200px;
            }
            h3{
                @include fuente (15px, black, $font-family)
                text-decoration: none;
                margin-bottom: 20px, 10px, 10px, 25px;
            }
            a{
                @include fuente (15px, #D6D6D8, $font-family)
                padding: 10px;
                border-radius: 15px;
                background-color: nth($colores, 5);
                text-decoration: none;
            }
        }

    }
    .grid-contenedor1{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: "mapa contacto";
        .grid-mapa{
            grid-area: mapa;
        }
    }
    .grid-contacto{
        grid-area: contacto;    
        h3{
            @include fuente (15px, black, $font-family)
            text-align: center;
            text-decoration: none;
            padding: 10px;
        }
        .formuario{
            width: 100%;
            height: auto;
            padding: 10px;
            }
        
    }
    .grid-contenedor{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 15px;
        align-content: center;
        justify-content: center;
        .grid-item{  
            display: grid;
            width: 250px;
            height: 350px;
            text-align: center;
            background-color:nth($colores, 2);
            margin: 10px;
            border: 20px;
            box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: -1px 4px 6px -2px rgba(0, 0, 0, 0.63);
            img{
                display: grid;
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
            h3{
                @include fuente (15px, black, $font-family)
                text-decoration: none;
                padding: 10px;
            }
            a{
                @include fuente (15px, #D6D6D8, $font-family)
                padding: 10px;
                border-radius: 15px;
                margin: 10px;
                background-color: nth($colores, 5);
                text-decoration: none;            
            }
        }
    }
}