//**------- Listas ------**//
$colores:
black,
beige,
#D6D6D8,
#05C0D3,
#A05196;

$font-size:
10 px,
12 px,
15 px,
20 px;

//**------- Mixin ------**//
@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}
