//**------- Listas ------**//
$colores:
black,
beige,
#D6D6D8,
#05C0D3,
#A05196;

$font-family:
'Bebas Neue' sans-serif;


//**------- Mixin ------**//
@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}

@mixin fuente ($font-size,$color,$font-family){
    font-size: $font-size;
    color: $color;
    font-family: $font-family;
}
